[Unit]
Description=Prometheus exporter for files
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=GIN_MODE=release
ExecStart=/usr/local/bin/file-exporter
